# Виртуальное окружение (может называться venv, env, .venv)
venv/
env/
.venv/

# Кэш Питона
__pycache__/
*.pyc

# Файлы с чувствительными данными (пароли, ключи API)
.env
secrets.py

# Файлы IDE, например, PyCharm
.idea/